//brand colors
$brandnew-white: #FAF9F6;
$brand-grey: #CDC9C1;
$brand-lightbrown: #D1BAA6;
$brand-darkbrown: #8B6D53;
$brand-green: #929471;
$brand-black: #4D4D4D;

//secondary colors
$orig-white: #ffffff;
