// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@import 'variables';

//secondary colors
$orig-white: #ffffff;

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

    background-color:$brand-white;
    
      
}
    
  
    .montserrat-alternates-thin {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .montserrat-alternates-extralight {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .montserrat-alternates-light {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .montserrat-alternates-regular {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: normal;
      }


      .montserrat-alternates-semibold {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
      }



 .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



//   ----------------main


h1 {
  
    color: $brand-black !important;
    font-size:60px !important;
    font-weight: 400;
 }

 h4 {

    color: $brand-green !important;
 }

 #main-menu {

    .nav-link{

        color: $brand-black !important;
    }

    .active {

        color: $brand-green !important;
        font-weight: 400;
      
       
    }

    a:hover {

        color:$brand-green !important;
    }


 }



//-------------------------------------------------------  Main Desktop 
  

 #main {

   
    .container  {

       

        .row { 

            border: 1px solid #8B6D53;
        }

      
    }

    #socmed {

        margin-top: 50px;

        a {
            color: $brand-green;
            text-decoration: none;
        }

        .fa {

            padding:10px;
            margin-left:-10px;
        }
    }

    #main-menu {

        margin-top: 50px;
    }

 

    #imageframe {

      
        background-color: $brand-lightbrown;
        height: 100vh !important;
        padding-top: 50px !important;
     
    
     

        img {

            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.157);
            margin-left: -50px;
           
        }


        


        #design1{

            
          width: 300px;
          margin-left: 1px !important;
       
        }
        #design2{

           
          width: 400px;
          margin-left: 1px;
          


        }
        #design3{

          
          width: 300px;

          margin-left: 40px;
          margin-top: 50px;
        }
        #design4{
        

          width: 420px;
          margin-right:100px;


        }
    }
 }

 // --------------------End of #Main







//  mobile

@media only screen and (max-width: 764px) {
   
    body {   
        background-image: url('mobilebackground.png'); 
        background-size: cover;
        background-repeat: no-repeat;
       
        h1 {
            font-size: 45px !important;
            }
     
            padding-top: 50px;
            padding-left: 30px;

    }

   
    #main-menu {

        
    
    
        .nav-link {
    
            font-size: 20px !important;

        }

        .nav-item {
            width: 300px !important;
            margin: 0px !important;
        }

        .nav-underline {
            --bs-nav-underline-gap: 0rem;
        }

        a {
           margin-left: 10px;
        }

       

        .active {

            width:50px !important;
        }
    
    
     }
    
   


    #imageframe{

        display: none;
    }

    

    

  }

//   end of mobile

