* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF9F6;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: #4D4D4D !important;
  font-size: 75px !important;
  font-weight: 400;
}

h4 {
  color: #929471 !important;
}

#main-menu .nav-link {
  color: #4D4D4D !important;
}
#main-menu .active {
  color: #929471 !important;
  font-weight: 400;
}
#main-menu a:hover {
  color: #929471 !important;
}

#main .container .row {
  border: 1px solid #8B6D53;
}
#main #socmed {
  margin-top: 50px;
}
#main #socmed a {
  color: #929471;
  text-decoration: none;
}
#main #socmed .fa {
  padding: 10px;
  margin-left: -10px;
}
#main #main-menu {
  margin-top: 50px;
}
#main #imageframe {
  background-color: #D1BAA6;
  height: 100vh;
  padding: 50px;
}
#main #imageframe img {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.157);
}
#main #imageframe .row {
  padding: 40px;
}
#main #imageframe #design1 {
  margin-left: -130px;
  width: 300px;
}
#main #imageframe #design2 {
  width: 250px;
  margin-top: 45px;
  margin-left: -10px;
}
#main #imageframe #design3 {
  margin-left: -90px;
  margin-top: 20px;
  width: 280px;
}
#main #imageframe #design4 {
  margin-left: -170px;
  margin-top: 50px;
  width: 280px;
}

@media only screen and (max-width: 844px) {
  body {
    background-image: url("mobilebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    padding-top: 50px;
    padding-left: 30px;
  }
  body h1 {
    font-size: 45px !important;
    width: 400px;
  }
  #main-menu .nav-link {
    font-size: 20px !important;
  }
  #main-menu .nav-item {
    width: 300px !important;
    margin: 0px !important;
  }
  #main-menu .nav-underline {
    --bs-nav-underline-gap: 0rem;
  }
  #main-menu a {
    margin-left: 10px;
  }
  #main-menu .active {
    width: 50px !important;
  }
  #imageframe {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */